<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
  </head>
  <body>
    <div><%= @game.player_a %> chose <%= @game.choice_a %></div>
    <div><%= @game.player_b %> chose <%= @game.choice_b %></div>
    <div>The winner is <%= @game.winner %></div>
  </body>
</html>
